
<div class="clear banner"> 
    <h1>Quantum Book Club</h1>
    <h2 class="accent">Creating a Global Book Club</h2>
  </div>
  
<div class="column-container info">
  <div class="col3">
    <h3>Join</h3>
    <img src="" alt="Join a Club">
    <p>Stuff stuff stuff</p>
    <input type="submit" value="Join">
  </div>
  <div class="col3">
    <h3>Collaborate</h3>
    <img src="" alt="Collaborate">
    <p>Talk and chat with people about books!</p>
    <input type="submit" value="Collaborate">
  </div>
  <div class="col3">
    <h3>Host</h3>
    <img src="" alt="Host a Club">
    <p>Can't find a club? Then start one!</p>
    <input type="submit" value="Host">
  </div>
</div>