.banner {
    background-image: url("/assets/OldBookshelf80.jpeg");
    height: 300px;
    border-top: solid 1px #EF8543;
    border-bottom: solid 1px #EF8543;
  
  }
  
  .banner h1 {
    padding: 100px 0 0 10px;
  }