<div class="container">
    <h2 id="title">Find A Club</h2>
  
  
    <div id="filter" class="left">
      <h2>Filters</h2>
      <div class="filter-option">
        <input type="checkbox" name="test" value="test" id="test" checked="checked">
      </div>
    </div>

    <div id="output" class="left">
      <h2>Book Clubs For You</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente recusandae fugit rerum eveniet obcaecati libero cumque quam itaque eligendi, consequuntur sequi sint reprehenderit maxime ab quibusdam omnis impedit deleniti ducimus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti officiis molestias accusantium sequi explicabo, aut deserunt aspernatur quis officia dolor sapiente excepturi quam debitis. Iure fuga in officia amet commodi?</p>
      <p>Earum sint necessitatibus, iusto odio expedita beatae dolor quasi, ea qui voluptatum quaerat facilis quas cumque laudantium facere nam. Modi repudiandae ratione ducimus est laudantium veniam quo! Perferendis, aperiam tempora!</p>
      <p>Beatae repudiandae adipisci error deserunt perspiciatis vel voluptatem laboriosam. Maiores odit corporis ipsum, animi hic doloribus aut deserunt debitis voluptates at magni nam nihil quis explicabo numquam reiciendis. Sequi, alias.</p>
    
      <div class="host">
        <h2>Host A Class</h2>
      </div>
    
    </div>

    <div class="clear"></div> 

</div> 