<nav role="navigation">
  <ul>
    <li class="left"><img src="logo.png" alt="Quantum Book Club Logo"></li>
    <li><a href="index.html" title="Home page">Home</a></li>
    <li><a href="club.html" title="Find or create a club">Clubs</a></li>
    <li><a href="account.html" title="Your account">My Account</a></li>
    <!--Add My Account when Signed In -->
    <li><a href="signup.html" title="Create an Quantum Book club Account">Sign Up</a></li>
    <li><a href="login.html" title="Sign into your Account">Log In</a></li>
    <li><a href="#" title="Sign Out">Sign Out</a></li>
    <!--Have this change to "Logout once signed in" -->
  </ul>
</nav>